<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {% for item in listCatagory %}
    {% if item.parent is None %}
    <ul>
        <li>{{item.name}}
            {% for item2 in listCatagory%}
            {% if item2.parent.name == item.name%}
            <ul>
                <li>{{item2.name}}</li>
            </ul>
            {% endif %}
            {% endfor %}
        </li>
    </ul>
    {% endif %}
    {% endfor %}
</body>
</html>